
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>404 Nothing here</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="../static/css/404.css">

</head>
    <body>

        <div class="background">
        </div>
        <div id="jsid-toast"></div>

        <div class="message">
            <h1>404</h1>
            <h2>There's nothing here.</h2>
        </div>
    </body>
</html>
