{% extends "base/base_generic.html" %}
{% load widget_tweaks %}
{% block title %}Обратная связь{% endblock %}
{% block content %}
    <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" >
                    <div data-form-alert="" hidden="">
                        Thanks for filling out the form!
                    </div>

                    <form class="mbr-form form-active" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="row row-sm-offset">
                            <div class="col-md-4 multi-horizontal">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="{{ form.first_name.id_for_label }}">Имя</label>
                                    {%  render_field form.first_name class+="form-control" %}
                                    {{ form.first_name.errors|escape }}
                                </div>
                            </div>
                            <div class="col-md-4 multi-horizontal">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="{{ form.last_name.id_for_label }}">Фамилия</label>
                                    {%  render_field form.last_name class+="form-control" %}
                                    {{ form.last_name.errors|escape }}
                                </div>
                            </div>
                            <div class="col-md-4 multi-horizontal">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="{{ form.phone.id_for_label }}">Телефон(8xxxxxxxxxx)</label>
                                    {%  render_field form.phone class+="form-control" %}
                                    {{form.phone.errors|escape }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label mbr-fonts-style display-7" for="{{ form.message.id_for_label }}">Сообщение</label>
                            {%  render_field form.message class+="form-control" rows="7" %}
                            {{form.message.errors|escape }}
                        </div>

                        <div class="form-group">
                            <div class="custom-file">
                              <label class="custom-file-label" for="{{ form.file.id_for_label }}">Выбрать файл</label>
                                {%  render_field form.file class+="custom-file-input"%}
                                {{form.file.errors|escape }}
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="input-group-btn">
                                <input type="submit" value="Отправить">
                            </span>
                        </div>
                    </form>
            </div>
        </div>

    <script type="text/javascript">
        data =  '{{  form.errors.as_json}}'
        errors = JSON.parse(data.replace(/&quot;/g,'"'));
        for(error in errors){
            for (var i in errors[error]) {
                console.log(errors[error][i])
            }
        }
    </script>
{% endblock %}